<%= render "layouts/header" %>
<div class="container">
    <div id="homepage-title">
        <h1>About</h1>
    </div>
    <div>
        <p id="description">
            Resumate provides a convenient way for students to upload a copy of their resume for recruiters to select from. Just sign up and upload your resume! Recruiters can directly look at resumes to pick candidates from, without the hassle of going through profiles.
        </p>
    </div>
</div>
