<% if Resume.count('id') == 0 %>
<p>There are not any resume currently in the system.</p>
<% else %>
<p>These are the current resumes in our system</p>

<ul class='resumes'>
   <%= render @resumes%>
</ul>

<% end %>
<p><%= link_to "Add new resume", {:action => 'new' }%></p>